@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;

@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;

@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;

@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
    font-family: "Noto Sans Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @nord0;
    color: @nord6;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @nord3;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 4px;
    color: @nord8;
}

#workspaces button.empty {
    color: @nord4;
    opacity: 0.6;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @nord8;
    border-top: 2px solid @nord8;
}

#workspaces button.visible {
    opacity: 1;
}

#workspaces button.urgent {
    background-color: @nord11;
}

#pulseaudio,
#battery,
#upower,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#bluetooth,
#mode,
#scratchpad,
#idle_inhibitor,
#custom-notification,
#custom-pacman,
#power-profiles-daemon,
#custom-wlogout {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: @nord7;
    border-bottom: 2px solid @nord7;
}

#bluetooth.on {
    opacity: 0.7;
}

#tray {
    border: 0;
}

#custom-wlogout {
    color: @nord11;
    border: 0;
}

@keyframes blink-update {
    to {
        background-color: dodgerblue;
    }
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
    color: @nord13;
    border-color: @nord13;
}
#custom-pacman.updated {
    color: @nord14;
    border-color: @nord14;
}

#idle_inhibitor {
    color: @nord14;
    border-color: @nord14;
}

#idle_inhibitor.activated {
    color: @nord11;
    border-color: @nord11;
}

#battery {
    color: @nord14;
    border-color: @nord14;
}

#temperature.critical {
    color: @nord11;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-center {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right {
    margin-right: 2px;
}
